@import 'variables';

body {
  background-color: $blue;

  h1 {
    color: #244751;
  }
  .container {
    margin-top: 2em;
  }
  .mapdiv#map {
    overflow: hidden;
    height: 40em;
    width: 80%;
    border-radius: 2.3em;
    border: 2px solid black;
    position: absolute;
    right: 10%;
    top: 3em;
  }
  .profile_background {
    height: 28em;
    width: 100%;
    background-color: steelblue;
  }
  .username {
    display: flex;
    justify-content: center;
  }
  .table {
    border: 0.4em double white;
  }
  .login_button {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .popup_form {
    margin-left: 15em;
    margin-top: -26em;
    z-index: 999;
  }
  .map_buttons {
    display: flex;
    align-content: center;
    position: relative;
    width: auto;
    justify-content: center;
  }
  .btn {
    background-color: $teal;
  }
  #name_map_group {
    background-color: $teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 40em;
    top: 29em;
  }
  .new_map_header {
    display: flex;
    justify-content: center;
  }
}
